users-api-impl/src/main/mule/users-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

    <http:listener-config name="users-api-learning-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="users-api-learning-config" api="resource::1fe66d47-86e4-4798-8495-39ea347b5f74:users-api-learning:1.0.0:oas:zip:users-api-learning.yaml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

    <!-- Flow principal : écoute toutes les requêtes sur /api/* -->
    <flow name="users-api-learning-main">
        <http:listener config-ref="users-api-learning-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="users-api-learning-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Console APIkit accessible sur /console -->
    <flow name="users-api-learning-console">
        <http:listener config-ref="users-api-learning-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="users-api-learning-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- GET /users : retourne la liste de tous les utilisateurs -->
    <flow name="get:\users:users-api-learning-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
    { id: "1", name: "Alice Dupont", email: "alice@example.com" },
    { id: "2", name: "Bob Martin", email: "bob@example.com" },
    { id: "3", name: "Charlie Durand", email: "charlie@example.com" }
]]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">200</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="GET /users appelé" />
    </flow>

    <!-- GET /users/{id} : retourne un utilisateur par son ID -->
    <flow name="get:\users\(id):users-api-learning-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var userId = attributes.uriParams.'id'
var users = [
    { id: "1", name: "Alice Dupont", email: "alice@example.com" },
    { id: "2", name: "Bob Martin", email: "bob@example.com" },
    { id: "3", name: "Charlie Durand", email: "charlie@example.com" }
]
var found = users filter (u) -> u.id == userId
---
if (isEmpty(found))
    { message: "Utilisateur non trouvé" }
else
    found[0]]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
var userId = attributes.uriParams.'id'
var users = [
    { id: "1" },
    { id: "2" },
    { id: "3" }
]
var found = users filter (u) -> u.id == userId
---
if (isEmpty(found)) 404 else 200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="#['GET /users/' ++ attributes.uriParams.'id' ++ ' appelé']" />
    </flow>

    <!-- POST /users : crée un nouvel utilisateur -->
    <flow name="post:\users:application\json:users-api-learning-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: uuid(),
    name: payload.name,
    email: payload.email,
    message: "Utilisateur créé avec succès"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">201</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="POST /users appelé" />
    </flow>
    <!-- PATCH /users/{id} : met à jour partiellement un utilisateur -->
    <flow name="patch:\users\(id):application\json:users-api-learning-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    var userId = attributes.uriParams.'id'
                    var users = [
                        { id: "1", name: "Alice Dupont", email: "alice@example.com" },
                        { id: "2", name: "Bob Martin", email: "bob@example.com" },
                        { id: "3", name: "Charlie Durand", email: "charlie@example.com" }
                    ]
                    var found = users filter (u) -> u.id == userId
                    var updated = if (isEmpty(found)) null else {
                        id: userId,
                        name: payload.name default found[0].name,
                        email: payload.email default found[0].email,
                        message: "Utilisateur mis à jour avec succès"
                    }
                    ---
                    if (updated == null)
                        { message: "Utilisateur non trouvé" }
                    else
                        updated]]></ee:set-payload>
                                </ee:message>
                                <ee:variables>
                                    <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
                    output application/java
                    var userId = attributes.uriParams.'id'
                    var users = [{ id: "1" }, { id: "2" }, { id: "3" }]
                    var found = users filter (u) -> u.id == userId
                    ---
                    if (isEmpty(found)) 404 else 200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="#['PATCH /users/' ++ attributes.uriParams.'id' ++ ' appelé']" />
    </flow>
</mule>